  <%= simple_form_for @itinerary do |f| %>
    <%= f.input :date %>
    <%= f.input :description %>
    <h4>Activites for the day</h4>
    <div id="activities">
      <%= f.simple_fields_for :activities do |activity| %>
        <%= render 'itineraries/activity_fields', :f => activity %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'Add Activity', f, :activities, class: 'link_outline' %>
      </div>

    </div>
    <%= f.submit %>
  <% end %>
 