<% content_for :title, 'Split Dodge Tours Trip Itinerary' %>
<% content_for :description, 'What makes the fun bus fun on trips from Salt Lake to Denver' %>

<div id="itinerary" class="container" >
 
  <br>
  <div class= "left-column col-md-3 hidden-xs hidden-sm">
    <div class="container ">
       <%=render partial: "static_pages/picture_carousel"  %>  
    </div>
  </div>
  <div class="hidden-md hidden-lg ">
     <p><%= image_tag ('split_dodge_logo_long.png'), class: 'img-responsive' %></p>
  </div>

  <div class="col-md-6 col-xs-12">
    <div>
      <h1>Itineraries for our trips! </h1>
      <p>And how do we get there? On the <%= link_to "fun bus", bus_path, class: 'link_outline', rel: 'canonical' %> of course! 
      
      <dl class="dl-horizontal">

        <% @itineraries.each do |itinerary| %>
          <h3><%= itinerary.date %></h3>
            <% if can? :edit, itinerary %>
              <%= link_to "Show Itinerary", itinerary %>
            <% end %>  
              <p><%= itinerary.description %></p>
              <% itinerary.activities.each do |activity| %>
                <dt><%= activity.time %></dt>
                <dd><%= activity.description %></dd>
              <% end %>
        <% end %>  
         
        <%= link_to "New Itinerary", new_itinerary_path if can? :create, Itinerary %>    

       
      <h4>Specific itinerary will be provided for each unique tour</h4>
      <h4 id="warning" class="link_outline">Note: Not all items listed are guaranteed and are contingent on each unique tour.</h4>
    </div>
  </div>
</div>
<div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>