<h1><%= @itinerary.date %></h1>

<dl class="dl-horizontal">
  <% @itinerary.activities.each do |activity| %>
    <dt><%= activity.time %><dt>
    <dd><%= activity.description %></dd>   
  <% end %>
</dl>

<%= link_to 'Edit', edit_itinerary_path(@itinerary), class: 'link_outline' %>
<%= link_to 'Back to Itineraries', itineraries_path, class: 'link_outline' %>  
