
<div class="container " id="footer">
  


     <div class="fb-follow btn-lg" data-href="http://www.facebook.com/zuck" data-colorscheme="dark" data-layout="button" data-show-faces="false"></div>
  <div class="center-block col-xs-12 col-sm-12 col-lg-12">
    &copy; <%= link_to '2013 SplitDodge Tours', contact_path, class: 'link_outline', rel: 'canonical' %> :  Design by <%= link_to 'Erik Dewaal', 'http://plasticattack.com/', class: 'link_outline'  %>
    <div id="user_nav">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit Profile', edit_user_registration_path %> | 
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      <% else %>
        
        <%= link_to "Login", new_user_session_path %>
      <% end %>
    </div>  
  </div>
</div>
