<div id="myCarousel" class="carousel slide"> 
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag('side_bw_w_color.jpg', class: 'img-responsive ', :alt => 'First Slide', :height => '60%') %>
          <div class="container">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
        <div class="item ">
          <%= image_tag('2-stadium-bw-w-color.png', class: 'img-responsive ', :alt => 'Second Slide') %>
          <div class="container">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
        <div class="item ">
          <%= image_tag('cut bw w color.jpg', class: 'img-responsive ', :alt => 'Third Slide') %>
          <div class="container">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
        
        <div class="item ">
          <%= image_tag('5-face offbw w color.jpg', class: 'img-responsive ', :alt => 'Fifth Slide') %>
          <div class="container">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
        <div class="item ">
          <%= image_tag('5- red bus ver bw w color.jpg', class: 'img-responsive ', :alt => 'Sixth Slide') %>
          <div class="container">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
        <div class="item ">
          <%= image_tag('5 sticks bw w color.jpg', class: 'img-responsive ', :alt => 'Seventh Slide') %>
          <div class="container">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
        <div class="item ">
          <%= image_tag('5-outlaw vert bw w color.jpg', class: 'img-responsive ', :alt => 'Eigth Slide') %>
          <div class="container">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->