
<% content_for :title, 'Split Dodge Tours Stadium Experience' %>
<% content_for :description, 'Stadium experience, autographs, game, on-field' %>
<% cache do %>
<div class="container" id="stadium">
  
  <div class= "left-column col-md-3 hidden-xs hidden-sm">
    <div class="container ">
       <%=render partial: "picture_carousel"  %>  
    </div>
  </div>
  <div class="hidden-md hidden-lg ">
     <p><%= image_tag ('split_dodge_logo_long.png'), class: 'img-responsive' %></p>
  </div>
  <div class="col-md-6 col-xs-12">
    
    <h1>Stadium Events</h1>
    
  </div>
  <div class="col-md-8 col-xs-12 ">
    <h3>Stadium</h3>
    <ul>
      <li><%= image_tag '16px-Crossed_lacrosse_sticks.svg.png' %> Player autograph sessions</li><br>
      <li><%= image_tag '16px-Crossed_lacrosse_sticks.svg.png' %> Player meet and greet</li><br>
      <li><%= image_tag '16px-Crossed_lacrosse_sticks.svg.png' %> Team tunnel at game opening, on field</li><br>
      <li><%= image_tag '16px-Crossed_lacrosse_sticks.svg.png' %> VIP dining with view of player warmups and pre-game routine</li><br>
      <li><%= image_tag '16px-Crossed_lacrosse_sticks.svg.png' %> Premium seating for game</li><br>
      <li><%= image_tag '16px-Crossed_lacrosse_sticks.svg.png' %> On field clinics</li><br>
      <li><%= image_tag '16px-Crossed_lacrosse_sticks.svg.png' %> Access to field</li><br>
      <li><%= image_tag '16px-Crossed_lacrosse_sticks.svg.png' %> Stadium Tours</li><br>
      <li><%= image_tag '16px-Crossed_lacrosse_sticks.svg.png' %> Picturs Onfield</li><br>
    </ul>
    <h4 id="warning" class="link_outline">Note: Not all items listed are guaranteed and are contingent on each tour.</h4>
  </div>
</div>
<% end %>