<% content_for :title, 'Split Dodge Tours Denver Stops' %>
<% content_for :description, 'Stops at factories and retail stores not in Utah' %>
<div class="container" id="tour">

  
  <div class= "col-md-3 col-sm-3 col-xs-6  pull-left clearfix">
    <div class="container">
       <%=render partial: "picture_carousel"  %> 
    </div>
  </div>
   

  <div class="col-md-6 col-xs-12 ">
    
    <h1>Factory Tours & Lacrosse Store</h1>
    <div class=" ">
      <h4>Harrow Sports</h4>
      <p>Factory and store, manufacturer of lacrossse equipment from beginner to pro. Screen print demo and tour of factory.</p>
    </div>
    
    <div class="seperator_line ">
      <h4><%= link_to 'Lacrosse Unlimited', 'http://lacrosseunlimited.com/' %></h4>
      <p>One stop shop for the most popular lacrosse brands on the market today. </p>
    </div>
    <br>
    <div class="seperator_line">

      <p>
        <ul>
          <li><%= image_tag '16px-Crossed_lacrosse_sticks.svg.png' %> Team Tunnel/High 5 at opening</li>
          <li><%= image_tag '16px-Crossed_lacrosse_sticks.svg.png' %> Photo opportunities, pre and post game</li>
          <li><%= image_tag '16px-Crossed_lacrosse_sticks.svg.png' %> VIP Dining with view of player warmups and pregame routine</li>
          <li><%= image_tag '16px-Crossed_lacrosse_sticks.svg.png' %> Premium Seating for game</li>
          <li><%= image_tag '16px-Crossed_lacrosse_sticks.svg.png' %> On field clinics</li>
          <li><%= image_tag '16px-Crossed_lacrosse_sticks.svg.png' %> Access to field, post game</li>
          <li><%= image_tag '16px-Crossed_lacrosse_sticks.svg.png' %> Player autograph sessions, post game</li>
          <li><%= image_tag '16px-Crossed_lacrosse_sticks.svg.png' %> Player meet and greet, post game</li>
          <li><%= image_tag '16px-Crossed_lacrosse_sticks.svg.png' %> Early access to fan stores</li>
        </ul>
      </p>
    </div>
     <h4 id="warning" class="link_outline">Note: Not all items listed are guaranteed and are contingent on each unique tour.</h4>
  </div>  
</div>
