
    <%= simple_form_for(@tour_date) do |f| %>
      
      <%= f.input :date %>
      <br/>
      
      <%= f.input :description %>
      <br/>
      <%= f.input :scheduled, as: :boolean %>
      <br/>
      <div class="form-actions">
      <%= f.button :submit %>
      </div>
    <% end %>  
      
      
 