<form class="form-horizontal" role="form">  
  
    <%= simple_form_for @tour_date do |f| %>
      
      <%= f.input :date %>
      <br/>
      
      <%= f.input :description %>
      <br/>
      <%= f.input :scheduled, as: :boolean %>
      <br/>
      <%= f.button :submit %>
    <% end %>  
      <h4>Tour Dates </h4>
      
</form>  