<div class="form-inline">
  <%= simple_form_for @tour_date do |f| %>
    <%= f.input :date, wrapper_html: { class: 'form-control' } %>
    <br/>
    <%= f.input :description, wrapper_html: { class: 'form-control'} %>
    <br/>
    <%= f.input :scheduled, as: :boolean %>
    <br/>
    <%= f.button :submit %>
  <% end %>  
    <h4>Tour Dates </h4>
</div>    