<div id="navigation" >
  

  <nav class="navbar navbar-default navbar-fixed-top  " role="navigation" >
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle Navigation</span>  
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Home", root_path, class: "navbar-brand hidden-lg hidden-md " %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse" id="navbar" >
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to t(:home), root_path, class: 'hidden-sm hidden-xs' %></li>
          <li><%= link_to t(:bus_activities), bus_path %></li>
          <li><%= link_to t(:itinerary), itinerary_path %></li>
          <li><%= link_to t(:tour), tour_path, class: 'hidden-sm hidden-xs' %></li>
          <li><%= link_to t(:pricing), pricing_path %></li>
          <li><%= link_to t(:stadium_tours), stadium_path, class: 'hidden-xs hidden-sm' %></li>
          <li><%= link_to t(:about_us), about_path %></li>
          <li><%= link_to t(:sign_up), sign_up_path, class: 'hidden-sm hidden-xs hidden-md hidden-lg' %></li>
          <li><%= link_to t(:contact_us), contact_path %></li>
        </ul>
        
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>
</div>