<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= content_for?(:title) ? yield(:title) + " | Lacrosse Tours, Salt Lake City UT" : "Split Dodge Tours, Salt Lake City UT"%></title>
  <meta name="description" content="<% content_for?(:description) ? yield(:description) : 'Split Dodge Tours, Lacrosse Tours from Salt Lake City, UT' %>">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
  <meta name="google-site-verification" content="mQc6qeGd5d9VKG_Gf2wdcbRAKL_f3a3mYZAXCFGoovY" />
  <meta name="google-site-verification" content="wgU7d1did2mkOFGcFqfYwuGDyejfdXQT4Iyi62V_dX8" />
  <script src="//use.edgefonts.net/droid-sans.js"></script>
  
</head>
<body>

  <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  <div id='background-img' data-imgpath="<%= asset_path('lacrosse_stick_head_color_medium_quality.jpg') %>" ></div>
  <div class="container">
  <%= render 'layouts/navigation' %>
  
    <%= yield %>
  </div> 
  <%= render partial: 'static_pages/footer' %>
</body>
</html>
